.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wallap{
    border-radius: 4px;
    border-color: rgb(0, 0, 0);
    border-style: ridge;
    display: inline-block;
    padding: 5px;
}
.style{
    border-radius: 50px;
    border-color: rgb(0, 0, 0);
    border-style:groove;
    display: inline-block;
    padding: 10px ;
}
.pay{
    background-color: rgb(255, 174, 174);
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-style:groove;
    display:inline-block;
    padding: 8px ;
}
body{
    background-color:  rgb(248, 197, 197);
}
img{
    border: 3px;
    border-radius: 50px ;
    border-color: black;
    border-style:groove;
}
h1 {
    border: 3px;
    border-bottom-width: 3px;
    border-color: black;
border-bottom-style: groove;
}
